<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
			<h1>{{ page.title }}</h1>
		</header>
		{% if page.image %}<span class="image main"><img src="{{ site.url }}/{{ page.image }}" alt="" /></span>{% endif %}
		<p>{{ content }}</p>
		<p>If you need helps or want to know more, do contact me by filling your details below or you can call me directly. Cheers!</p>
	</div>
</section>

</div>

    {% include footer.html %}

</body>

</html>